.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding:5px ;
  padding-left: 10px;
  padding-right: 10px;
  

}
.list{
  list-style: none;
  display: flex;
  font-weight: bold;
  }
.list li{
  padding-left: 15px;
}
.text-align{
  text-align: center;
}
.listpayment{
  list-style: none;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: auto;
  text-align: center;
  }
  .listpayment button{
    padding: 8px;
    margin:0 20px 0px 10px ;
  }
  .box{
    margin-top: 150px;
    width:50vw;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
  }

  .section{
    position: absolute;
    background-color: black;
    padding: 30px;
    /* padding-bottom:15px ; */
    bottom: 0px;
    /* left:25%; */
    width:100%
  }
  .section p{
    color:white;
    text-align: center;
    text-transform: capitalize;
    letter-spacing:0.25rem ;
    margin-bottom: 0;
  

  }
.Region-filter{
  position: absolute;
  right: 0;
  top: 0;
}

.containerpaymentpage{
  margin-top: 150px;
  width:50vw;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px ; */
  padding: 20px;
  /* border-radius: 5px; */
}
.razorpay{
  text-align: center;
  margin-top:90px;
}
  
.listpayment{
  text-align: center;
  margin-top:90px;
}

.space{
  margin: 5px;
  padding: 5px;
}